<div class="container justify-content-center">
  <div class="row">
    <div class='col-sm-10'>
      <%= form_with model:@dog, url:dogs_path, local:true do |f|%>
        <table class="table table-borderless">
          <thead>
            <h4>愛犬情報登録・追加</h4>
          </thead>

          <tbody>
            <tr>
              <td>
                <div class="form-row">
                  <%= f.label :ワンちゃんの大きさ, class:"col-sm-3 col-form-label-sm" %>
                  <div class="col-sm-4">
                    <%= f.select :size, [["中型犬", "中型犬"], ["大型犬", "大型犬"]], include_blank: "選択して下さい" %>
                  </div>
                </div>
              </td>
            </tr>
            
            <tr>
              <td>
                <div class="form-row">
                  <%= f.label :犬種, class:"col-sm-3 col-form-label-sm" %>
                  <div class="col-sm-4">
                    <%= f.collection_select :category, dog_category.all, :実際にDBに保存させるカラム名, :選択肢に用いるカラム名, include_blank: "選択して下さい" %>
                  </div>
                </div>
              </td>
            </tr>

        </table>
      <% end %>
    </div>
  </div>
</div>