<div class="container">
  <div class="row mt-3">
    <h4>マイページ</h4>
  </div>

  <div class="row">
      <div class="col-sm-2">飼い主さん情報</div>
      <div class="col-sm-2">
        <% if @dog_owner.id == current_dog_owner.id %>
          <%= link_to "編集する", edit_dog_owner_path(current_dog_owner), class: "btn btn-secondary" %>
        <% end %>
      </div>
  </div>

  <div class="row mt-3">
    <table class="table table-bordered">
      <tr>
        <th>プロフィール画像</th>
        <td><%= attachment_image_tag @dog_owner, :image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %></td>
      </tr>
      <tr>
        <th>氏名</th>
        <td><%= @dog_owner.last_name + " " + @dog_owner.first_name %></td>
      </tr>
      <tr>
        <th>ニックネーム</th>
        <td><%= @dog_owner.nickname %></td>
      </tr>
      <% if @dog_owner.id == current_dog_owner.id %>
      <tr>
        <th>メールアドレス</th>
        <td><%= @dog_owner.email %></td>
      </tr>
      <tr>
        <th>郵便番号</th>
        <td><%= @dog_owner.postal_code %></td>
      </tr>
      <tr>
        <th>住所</th>
        <td><%= @dog_owner.address %></td>
      </tr>
      <tr>
        <th>電話番号</th>
        <td><%= @dog_owner.phone_number %></td>
      </tr>
      <% end %>
      <tr>
        <th>自己紹介</th>
        <td><%= @dog_owner.introduction %></td>
      </tr>
    </table>
  </div>

  <div class="row">
    <div class="col-sm-2">ワンちゃん情報</div>
    <% if @dog_owner.id == current_dog_owner.id %>
    <div class="col-sm-2">
      <%= link_to "追加する", new_dog_path(current_dog_owner.dogs), class: "btn btn-secondary" %>
    </div>
    <% end %>
  </div>

 <div class="row mt-3">
    <div class="col-sm-10">
    <% @dogs.each do |dog| %>
    
    <% if @dog_owner.id == current_dog_owner.id %>
    <div class="col-sm-2">
      <%= link_to "編集する", edit_dog_path(dog.id), class: "btn btn-secondary" %>
    </div>
    <% end %>
    
    <table class="table table-bordered">
      <tr>
        <th>ワンちゃん画像</th>
        <td><%= attachment_image_tag dog, :image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %></td>
      </tr>
      <tr>
        <th>名前</th>
        <td><%= dog.name %></td>
      </tr>
      <tr>
        <th>ワンちゃん紹介</th>
        <td><%= dog.introduction %></td>
      </tr>
      <tr>
        <th>犬種</th>
        <td><%= dog.dog_category.category %></td>
      </tr>
      <tr>
        <th>年齢</th>
        <td><%= dog.age %></td>
      </tr>
      <tr>
        <th>性別</th>
        <td><%= dog.gender %></td>
      </tr>
    </table>
    <% end %>
    </div>
  </div>

</div>
