<div class="container my-3">
  <div class="row">
    <div class="col-sm-4">
      <%= link_to "お悩み投稿をする", new_post_path, class: "btn btn-info" %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h4>お悩み一覧</h4>
      <table class="table">
          <% @posts.each do |post| %>
          <tr>
            <td>
              <div><%= attachment_image_tag post.dog, :image, :fill, 60, 60, format:'jpeg', fallback:"no_image.jpg" %></div>
              <div><%= post.dog.name %></div>
            </td>
            <td>
              <div><%= post.dog.dog_category.category %></div>
              <div><%= post.dog.age %></div>
              <div><%= post.dog.gender %></div>
            </td>
            <td>
              <div><%= link_to post.title, post_path(post.id) %></div>
              <div class="border-top"><%= post.body.truncate(60) %></div>
              <p class="text-right"><%= link_to "#{post.answers.count} 個の回答", post_path(post.id) %></p>
            </td>
          </tr>
          <% end %>
      </table>
    </div>
  </div>
</div>
