<div class="container my-3">
  <div class="row">
    <div class="col-sm-4">
      <%= link_to "お悩み投稿をする", new_post_path, class: "btn btn-info" %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
    <h5>お悩み一覧</h5>
    <% if @posts.count == 0 %>
      <p>お悩みは存在しません</p>
    <% else %>
      <table class="table">
        <% @posts.each do |post| %>
        <tr>

        <% if dog_owner_signed_in? %>
          <td>
            <%= link_to post_path(post.id), class: "posts-link" do %>
              <div><%= attachment_image_tag post.dog, :image, :fill, 60, 60, format:'jpeg', fallback:"no_image.jpg" %></div>
              <div><%= post.dog.name %></div>
            <% end %>
          </td>
          <td>
          <%= link_to post_path(post.id), class: "posts-link" do %>
            <div><%= post.dog.dog_category.category %></div>
            <div><%= post.dog.age %></div>
            <div><%= post.dog.gender %></div>
          <% end %>
          </td>
          <td>
          <%= link_to post_path(post.id), class: "posts-link" do %>
            <div><%= post.title %></div>
            <div class="border-top"><%= post.body.truncate(60) %></div>
            <p class="text-right"><%= "#{post.answers.count} 個の回答" %></p>
          <% end %>
          </td>
        <% else %>
          <td>
          <%= link_to new_dog_owner_session_path, class: "posts-link" do %>
            <div><%= attachment_image_tag post.dog, :image, :fill, 100, 100, format:'jpeg', fallback:"no_image.jpg" %></div>
            <div><%= post.dog.name %></div>
          <% end %>
          </td>
          <td>
          <%= link_to new_dog_owner_session_path, class: "posts-link" do %>
            <div><%= post.dog.dog_category.category %></div>
            <div><%= post.dog.age %></div>
            <div><%= post.dog.gender %></div>
          <% end %>
          </td>
          <td>
          <%= link_to new_dog_owner_session_path, class: "posts-link" do %>
            <div><%= post.title %></div>
            <div class="border-top"><%= post.body.truncate(60) %></div>
            <p class="text-right"><%= "#{post.answers.count} 個の回答" %></p>
          <% end %>
          </td>
        <% end %>

        </tr>
        <% end %>
      </table>
      <% end %>
    <%= paginate @posts %>
    </div>
  </div>
</div>
