<div class="container">
  <div class="row mt-3">
    <h4>お悩み投稿</h4>
    <% if @post.errors.any? %>
      <%= @post.errors.count %>件のエラーが発生しました
      <% @post.errors.full_messages.each do |message| %>
        <%= message %>
      <% end %>
    <% end %>
  </div>

  <div class="row mt-3">
    <div class="col-sm-10">
      <%= form_with model:@post, url:posts_path, local:true do |f| %>
      <table class="table table-borderless">
        <tr>
          <td>
            <div class="form-group">
              <%= f.label :対象のワンちゃん, class:"col-sm-3 form-label" %>
              <%= f.collection_select :dog_id, Dog.where(dog_owner_id: current_dog_owner.id), :id, :name, include_blank: "選択して下さい" %>
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <div class="form-group">
              <%= f.label :お悩みカテゴリー, class:"col-sm-3 form-label" %>
              <%= f.select :category, Post.categories.keys.map{|k| [I18n.t("enums.post.category.#{k}"), k]}, {} %>
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <div class="form-group">
              <%= f.label :タイトル, class:"col-sm-3 form-label" %>
              <%= f.text_field :title, class:"form-control" %>
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <div class="form-group">
              <%= f.label :お悩み本文, class:"col-sm-3 form-label" %>
              <%= f.text_area :body, class:"form-control" %>
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <div class="form-group">
              <%= f.label :キーワード, class:"col-sm-3 form-label" %>
              <%= f.text_field :keyword, class:"form-control" %>
              <p>お悩みのポイントとなるキーワードを入力することで、質問を発見してもらいやすくなります。</p>
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <div class="form-group">
              <%= f.label :お悩み関連画像, class:"col-sm-3 form-label" %>
              <%= f.attachment_field :image, id:"image", class: "form-control-file" %>
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <%= f.submit "お悩みを投稿する", class: "btn btn-info" %>
          </td>
        </tr>
      </table>
      <% end %>
    </div>
  </div>
</div>