<div class="container">
<% if @answer.errors.any? %>
  <%= @answer.errors.count %>件のエラーが発生しました
  <% @answer.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>
  <div class="row mt-3 mx-auto">
  <h4>相談したい飼い主</h4>
    <table class="table table-borderless">
      <tr>
        <td>
          <%= attachment_image_tag @post.dog_owner, :image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
          <%= @post.dog_owner.nickname %>
        </td>
      </tr>
    </table>
  </div>

  <div class="row mt-1 mx-auto">
  <h4>お悩みのワンちゃん</h4>
    <table class="table table-borderless">
      <tr>
        <td>
          <%= attachment_image_tag @post.dog, :image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
          <%= @post.dog.name %>
        </td>
      </tr>
    </table>
  </div>
</div>


<div class="container">
  <div class="row mt-3 mx-auto">
    <div class="col-sm-10">
      <div class="d-flex">
        <h3>お悩み詳細</h3>
        <% if @post.dog_owner.id == current_dog_owner.id %>
        <div class="offset-1">
          <%= link_to "削除する", post_path, method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %>
        </div>
        <% end %>
      </div>

      <div style="background: #ffa500">
        <div class="col">
          <h6>お悩みカテゴリー</h6>
          <p><%= @post.category %></p>
        </div>

        <div class="col">
          <h6>キーワード</h6>
          <p><%= @post.keyword %></p>
        </div>
      </div>

      <div style="background: #ffa500">
        <div class="col">
          <h6>タイトル</h6>
          <p><%= @post.title %></p>
        </div>

        <div class="col">
          <h6>お悩み本文</h6>
          <p><%= @post.body %></p>
        </div>

        <div class="col">
          <p><%= attachment_image_tag @post, :image, :fill, 100, 100, format: 'jpeg' %></p>
        </div>

        <div id="cognition_area_<%= @post.id %>">
          <%= render partial: 'cognitions/cognition', locals: { post: @post} %>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mt-3 mx-auto">
    <div class="col-sm-10">
    <%= form_with(model:[@post, @answer], local: true) do |f| %>
      <%= f.text_area :body, rows:'5',placeholder: "回答をここに記載", class: "col-sm-8" %>
      <%= f.submit "回答する" %>
    <% end %>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-sm-10">
      <p>回答数：<%= @post.answers.count %></p>


      <% @post.answers.each do |answer| %>
      <div class="col-sm-4 mt-3">
        <%= answer.dog_owner.nickname %>
        <%= answer.created_at.strftime('%Y/%m/%d') %>

        <% if answer.dog_owner == current_dog_owner %>
        <%= link_to "削除する", post_answer_path(answer.post, answer), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn btn-danger" %>
        <% end %>
      </div>

      <div class="col-sm-6 border">
        <%= answer.body %>
        <div id="answer_favorite_area_<%= answer.id %>">
          <%= render partial: 'answer_favorites/answer_favorites', locals: { answer: answer} %>
        </div>
      </div>
      <% end %>

    </div>
  </div>
</div>